@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Quicksand:wght@300..700&display=swap');
@import url('../fonts/stylesheet.css');
@import url('all.css');
	
body
{
	background-color: #eeeeee;
	color: #043872; 
	font-family: "Quicksand", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif" ;
	font-size: 16px;
	margin: 0
}
.font-subtitle
{
	font-family: "Mea Culpa", cursive;
  	font-weight: 600;
  	font-style: normal;

}

h1{ 
		font-size: 45px;
		background: #EEAECA;
background: linear-gradient( rgba(8, 41, 255, 1) 1%, rgba(255, 177, 117, 1) 55%, rgba(255, 228, 77, 1) 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
h2{ font-size: 40px; text-shadow:1px 1px 5px rgba(255,255,0,0.8)}
h3{ font-size: 36px}
h4{ font-size: 24px}
h5{ font-size: 20px}
h6{ font-size: 18px}
h1,h2,h3,h4,h5,h6{ margin-bottom: 0; margin-top: 0}
a{ 
	color:#09090E;
	text-decoration:none;
	font-weight: 700;
}
a:hover
{
	color: gold;
}
/*----------------------- layout bo cuc web----small----------*/
.container-fluid
{
	width: 100%; padding-left: 16px; padding-right: 16px
}
/*------------- mobile first-----------------*/
.container
{
	width:95%; margin: auto
}
/*--------------size container cho tablet (ipad)-medium--------------*/
@media (min-width:600px)
{
	.container
	{
		width:90%; margin: auto
	}
	
}
/*--------------size container cho pc 1000----large-----------*/
@media (min-width:1000px)
{
	.container
	{
		width:80%; margin: auto
	}
}
/*---------- chia he thong grid 12 column*/
.col-1{ width: 8.3333%; }
.col-2{ width:16.6666%}
.col-3{ width: 25%}
.col-4{ width: 33.33%}
.col-5{ width:41.66%}
.col-6{ width: 50%}
.col-7{ width:58.33%}
.col-8{ width: 66.66%}
.col-9{ width: 75%}
.col-10{ width: 83.33%}
.col-11{ width: 91.66%}
.col-12{ width: 100%}
[class*="col-"]
{
	padding: 15px;
}
*{ box-sizing: border-box}
.img-100{width: 100%}
.row 
{
	display: flex;
	flex-wrap: wrap;
}
.card
{ 
	background: white;
	border-radius: 15px;
	overflow: hidden;
	border-radius: 4px 4px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 5px 5px gold ;
}
.card-body
{ 
	padding: 16px;
}

footer
{
	background-color:#D7D7D7;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.text-primary { color: deepskyblue}
.text-secondary { color: blue}
.text-light{ color: #323232}
.text-dark{color: #323232}
.bg-primary { background-color: palegoldenrod}
.bg-secondary { background-color: goldenrod}
.bg-light{background-color:#DDDDDD}
.bg-dark {background-color:#323232}
.btn-primary
{ 
	background-color: deeppink;
	color: white;
	padding: 8px 16px;
	border-radius: 4px
}
.btn-primary:hover{
	background-color: deepskyblue;
	color: white
}
.btn-secondary
{ 
	background-color: deepskyblue;
	color: white;
	padding: 8px 16px;
	border-radius: 4px
}
.btn-secondary:hover{
	background-color:deeppink;
	color: white
}
.btn-outline-primary
{
	border: 1px deeppink inset;
	color: deeppink;
	padding: 8px 16px;
	border-radius: 4px;
	margin:2px ;
	
}
.btn-outline-primary:hover
{
	background-color:deeppink;
	color: white
}
.btn-outline-secondary
{
	color: deepskyblue;
	padding: 8px 16px;
	border-radius: 4px;
	margin:2px ;
}
.btn-outline-secondary:hover
{
	background-color: goldenrod;
	color: white
}
.banner
{
	position: relative;
	z-index: 1;
}
.banner-caption
{
	width: 40%;
	padding: 10px;
	position: absolute;
	right: 10%; top: 20%;
}
ul.menu
{
	display: flex;
	padding: 0;
	list-style: none;
	justify-content:flex-start;
	border-radius: 20px;
}
ul.menu li a
{
	padding: 8px 16px;
	background-color: royalblue;
	color: white;
	margin: 2px;
}
ul.menu li a:hover
{
	background-color: gold;
	color: black;
}

ul.menu li
{
	position: relative;
}

ul.menu .dropdown-menu
{
	width: 200px;
	position: absolute;
	left: 20px; top: 0;
	z-index: 9999;	
	background: #eee;
	opacity: 0;
	transition: all 1s;
}

ul.menu .dropdown-menu a
{
	display: block;
}
ul.menu li:hover>.dropdown-menu
{
	left: 0;
	top: 150%;
	opacity: 1;
}
.my-50 {margin-top: 50px; margin-bottom: 50px}